.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



table {
    border-collapse: collapse;
    font-size: large;
}

td {
    border: 1px solid black;
    padding: 1%;

}

td:nth-child(odd) {
    background-color: #00599C;
    color: white;
    width: 25%;
}

td:nth-child(even) {
    padding-left: 3%;
}
@media only screen and (max-width: 1500px) {
    td:nth-child(odd) {
        background-color: #00599C;
        color: white;
        width: 40%;
    }


}
@media only screen and (max-width: 836px) {
    table{
        font-size:medium;
    }
    .container{
        width: 80%;
    }
}
@media only screen and (max-width: 400px) {
    table{
        font-size:small;
    }
    .container{
        width: 80%;
    }
}
