    <!-- <div class="Center">
    <mat-list>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Account Name - Amazon</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
                <mat-card-content>
                  <mat-card-title>Location -US</mat-card-title>
                </mat-card-content>
                </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
                <mat-card-content>
                  <mat-card-title>Email - abc@gmail.com</mat-card-title>
                </mat-card-content>
                </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Phone Number - 98765433210</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Year Of Establishment - 2019</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Operating Hours - 18</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Manager - Vamsi Krishna</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Expenses - $20 million</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Profit - $2 million</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>Revenue - $25million</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>No of Dept - 15</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card>
            <mat-card-content>
              <mat-card-title>No of Employee - 1200</mat-card-title>
            </mat-card-content>
            </mat-card>
        </mat-list-item>
      </mat-list>
    </div> -->

      <!-- <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Account Name 
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          Amazon
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Location 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            US
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Email 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            abc@gmail.com
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Phone Number 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            98765433210
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Year Of Establishment 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            2019
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Operating Hours 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            18
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Manager
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            Vamsi Krishna
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Expenses 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            $20 million
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Profit 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            $2 million
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Revenue
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            $25million
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                No of Dept 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            15
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                No of Employee
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            1200
          </mat-expansion-panel>

    </mat-accordion> -->

    <div class="Center">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Amazon</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                Location - {{accountDetails?.location}}
            </mat-card-content>
        <mat-card-content>
    Email - {{accountDetails?.email}}
    </mat-card-content>
    <mat-card-content>
    Phone Number - {{accountDetails?.phoneNo}}
    </mat-card-content>
    <mat-card-content>
    Year Of Establishment - {{accountDetails?.yearOfEst}}
    </mat-card-content>
    <mat-card-content>
    Operating Hours - {{accountDetails?.operatingHours}}
    </mat-card-content>
    <mat-card-content>
    Manager - {{accountDetails?.manager}}
    </mat-card-content>
    <mat-card-content>
    Expenses - {{accountDetails?.expenses}}
    </mat-card-content>
    <mat-card-content>
    Profit - {{accountDetails?.profit}}
    </mat-card-content>
    <mat-card-content>
    Revenue - {{accountDetails?.revenue}}
    </mat-card-content>
    <mat-card-content>
    No of Dept - {{accountDetails?.noOfDept}}
    </mat-card-content>
    <mat-card-content>
    No of Employee - {{accountDetails?.noOfEmp}}
    
              </mat-card-content>
            </mat-card>
        </div>