<button (click)="BackButton()" class="buttonBack">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="container">
  
  <table>
    <tr>
      <td>Account ID</td>
      <td>{{accountDetails?.AccountId}}</td>
    </tr>
    <tr>
      <td>GSTIN</td>
      <td>{{accountDetails?.Gstin}}</td>
    </tr>
    <tr>
      <td>Account Name</td>
      <td>{{accountDetails?.AccountName}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{accountDetails?.Email}}</td>
    </tr>
    <tr>
      <td>Manager</td>
      <td>{{accountDetails?.Manager}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{accountDetails?.Location}}</td>
    </tr>
    <tr>
      <td>Year of Establishment</td>
      <td>{{accountDetails?.YearOfEst}}</td>
    </tr>
    <tr>
      <td>No of Employees</td>
      <td>{{accountDetails?.NoOfEmp}}</td>
    </tr>
    <tr>
      <td>No of Department</td>
      <td>{{accountDetails?.NoOfDept}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{accountDetails?.PhoneNo}}</td>
    </tr>
    <tr>
      <td>Operating Hours</td>
      <td>{{accountDetails?.OperatingHours}}</td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td>{{accountDetails?.Revenue}}</td>
    </tr>
    <tr>
      <td>Expenses</td>
      <td>{{accountDetails?.Expenses}}</td>
    </tr>
    <tr>
      <td>Profit</td>
      <td>{{accountDetails?.Profit}}</td>
    </tr>
    <tr>
      <td>Services Offered</td>
      <td>{{accountDetails?.ServicesOffered}}</td>
    </tr>
  </table>
</div>