<div class="accounts">
    <div class="tablecustomer">
        <div class="table_section">
            <table>
                <tbody>
                    <tr class="body-row">
                        <td rowspan="3"><img src="{{customerDetail?.logo}}" alt=""></td>
                        <td>Name - {{customerDetail?.cname}}</td>
                        <td>Type - {{customerDetail?.typeOfCompany}}</td>
                        <td>Phone No - {{customerDetail?.phoneNo}}</td>
                    </tr>
                    <tr class="body-row">

                        <td>ID - {{customerDetail?.id}}</td>
                        <td>Email - <a href="{{customerDetail?.email}}">{{customerDetail?.email}}</a></td>
                        <td>Website - <a href="{{customerDetail?.website}}">{{customerDetail?.website}}</a></td>
                    </tr>
                    <tr class="body-row">

                        <td>GSTIN - {{customerDetail?.gstin}}</td>
                        <td>Headquarter - {{customerDetail?.headquarter}}</td>
                        <td>Country Code - {{customerDetail?.countryCode}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td colspan="4">{{customerDetail?.description}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>

            <div class="tableaccounts">
                <div class="tablebody">
                    <table>
                        <thead>
                            <tr>
                                <th>Account ID</th>
                                <th>Account Name</th>
                                <th>Branch</th>
                                <th>Email</th>
                                <th>Year of Establishment</th>
                                <th>Action</th>
                            </tr>
                            <br>
                        </thead>

                        <tbody class="accountlist">
                            <tr class="body-row" *ngFor="let account of accountList| paginate: {itemsPerPage: itemsPerPage, currentPage: p}"  >
                              <td routerLink="/customer/{{account.id}}/accounts" data-title="accountId">{{account?.accountId}}</td>
                              <td routerLink="/customer/{{account.id}}/accounts" data-title="accountName">{{account?.accountName}}</td>
                              <td routerLink="/customer/{{account.id}}/accounts" data-title="branch">{{account?.branch}}</td>
                              <td routerLink="/customer/{{account.id}}/accounts" data-title="email">{{account?.email}}</td>
                              <td routerLink="/customer/{{account.id}}/accounts" data-title="yearOfEst">{{account?.yearOfEst}}</td>
                              <td>
                                
                                <button class="update_btn" (click)="editAccount(account.id)">Update</button>
                                <button  class="delete_btn" (click)="deleteAccount(account.id)">Delete</button>
                                
                              </td>
                            </tr>
                        </tbody>
                        <div class="plottingclass">
                            <button class="plot_button">Plot On Map</button>
                        </div>
                        <div class="paginationclass">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div> 
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
