<div class="customers">
  <div class="table">
    <div class="table_section">
      <table>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Name</th>
            <th>Sector</th>
            <th>GSTIN</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerList| paginate: {itemsPerPage: itemsPerPage, currentPage: p}">
            <td><img src="{{customer.logo}}"></td>
            <td data-title="Name">{{customer.cname}}</td>
            <td data-title="Sector">{{customer.typeOfCompany}}</td>
            <td data-title="GSTIN">{{customer.gstin}}</td>
            <td data-title="Email">{{customer.email}}</td>
            <td>
              <button class="update_btn" (click)="editCustomer(customer.id)">Update</button>
              <button  class="delete_btn" (click)="deleteCustomer(customer.id)">Delete</button>
              
            </td>
          </tr>
        </tbody>
  
  
        <div class="paginationclass">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </table>
    </div>
  </div>
  </div>