<div class="logs">
    <table>
      <tr>
        <th>Log ID</th>
        <th>Admin ID</th>
        <th>Customer Name</th>
        <th>Account Name</th>
        <th>Action</th>
        <th>Section Modified</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>

      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>

      </tr>
    </table>
  </div>