.logs{
    overflow-x:auto;
    padding-top: 7%;
    padding-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
}
table {
    width: 100%;
}
table, tr, td, th{
    border-collapse: collapse;
    border: 1px solid black;
}
th, td {
    text-align: left;
    padding: 0.5%;
    word-wrap: normal;
    word-break: normal;
}
th{
    font-weight: 500;
    background-color:#00599C;
    color: white;
    text-align: left;
}
.center-align{
    text-align: center;
    width: 10%;
}
.action{
    font-weight: 500;
}
