<div class="logs">
    <table>
      <tr>
        <th>Log ID</th>
        <th>Admin ID</th>
        <th>Customer Name</th>
        <th>Account Name</th>
        <th>Action</th>
        <th>Section Modified</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <tr *ngFor="let log of logList">
        <td>{{log.logId}}</td>
        <td>{{log.adminId}}</td>
        <td>{{log.customerName}}</td>
        <td>{{log.accountName}}</td>
        <td>{{log.action}}</td>
        <td>{{log.sectionModified}}</td>
        <td>{{log.date}}</td>
        <td>{{log.time}}</td>
      </tr>
    </table>
  </div>