/* * {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

img{
	width: 130px;
	height: 30px;
	margin-left: 1%;
	
}

.nav-search{
	flex: 1;
    display: flex;
	width: 80%;
    margin-left: 5%;
	height: 100%;
	
}

.nav-search input{
	width: 100%;
	font-size: 10px;
	height: 70%;
	margin-right: 0%;
	margin-top: auto;
	margin-left: 0%;
	margin-bottom: auto;
	border: #00599C;
}

.nav-search button{
	color: #FFFFFF;
	height: 70%;
	margin-left: 0%;
	margin-top: auto;
	margin-right: 1%;
	margin-bottom: auto;
	border: #00599C;
}

.nav-search img{
	width: 20px;
	height: 20px;
}

.menu:hover{
	background-color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,h3,a {
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

::ng-deep .customize {
	background: #00599C;
}


.main-nav {
	display: flex;
	height: 80%;
	width:100vw;
	justify-content: center;
	display:inline-block;
		margin: auto 5% auto auto;

}

.nav-options{
	display: flex;
	width: 20%;
}

.nav-options ul li{
	flex-direction: row;
}

.nav-options li{
	height: 80%;
	color: #FFFFFF;
	margin: auto;
}

.nav-options li a img{
	width: 10vw;
	height: 30px;
	margin: auto;
}

.main-nav a:hover {
	color: #718daa;
}

.account{
	align-items: center;
}

.account li{
	font-size: small;
}


.main-nav li button{
	background-color: #00599C;
	height: 80%;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
} */



/* .header {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	align-items: center;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	background-color: #00599C;
	height: 8%;

} */
/* .header {
    width: 100vw;
    align-items: center;
    border: 1px solid #a2a2a2;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    background-color: #00599C;
    height: 8%;
}







@media (min-width: 500px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

} */

/* @media (max-width: 500px){
	.nav-search{
		display: none;
	}
	.header,.main-nav {
		display: flex;
	}
	.nav-search{
		display: inline;
		margin-right: 10%;
		
	}
	.main-nav{
		margin-right: 0%;
		width: 50%;
		height: 160vh;
		background-color: #00599C;
		flex-direction: column;
		margin-top: 40%;
	}
	.main-nav li{
		margin-top: 0%;
		width: 20%;
		height: 50px;
	}
	.main-nav li a img{
		width: 100%;
		height: 30px;
	}
	.account{
		display: flex;
		justify-content: center;
	}
	.account ul li{
		justify-content: center;
	}
	.main-nav ul li{
		display: inline-block;
	}
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
} */






*{
    margin: 0 !important;
    box-sizing: border-box !important;
}



header{
    background-color: #00599C;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
	height: 10%;
}
.logo{
	width: 10%;
    background-color: #00599C;
	display: flex;
	align-items: center;
}

.logo img{
	width: 130px;;
	height: 35px;
}

.nav-search{
    display: flex;
    background-color: #00599C;
    align-items: center;
    flex-direction: row; 
	height: 100%;
	width: 70%;
}

.nav-search input{
	width: 100%;
	padding: 12px;
	height: 40px;
	border:none;
}

.nav-search button{
	color: #FFFFFF;
	height: 40px;
	border:none;
}
.nav-search button img{
	height: 90%;
}


.nav-div .nav-options{
    background-color: #00599C;
    display: inline;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
	padding: 0px;
}


.nav-div .nav-options .account{
    display: inline;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
	padding-left:15px;
}

.menu:hover{
	background-color: #FFFFFF;
}
::ng-deep .customize {
	background: #00599C;
}

.mat-icon{
	color: #FFFFFF;
}
span{
	color: #FFFFFF;
}



@media (max-width: 800px){
	.nav-search{
		display: flex;
		background-color: #00599C;
		align-items: center;
		flex-direction: row; 
		height: 100%;
		width: 40%;
	}
}
@media (max-width: 500px){
	.nav-search{
		height: 100%;
		width: 40%;
	}
	.nav-search input{
		height: 30px;
		font-size: 10px;
	}
	.nav-search button{
		height: 30px;
	}
	.logo img{
		width: 90px;
		height: 25px;
	}
	.nav-div{
		width: 15%;
	}
}