<div class="formcontainer">
  <h4>Reset Password</h4>

  <form [formGroup]="ResetPasswordForm">
    <input
      type="password"
      name="Password"
      placeholder="Old Password"
      formControlName="Password"
    /><br />

    <mat-error *ngIf="Password && Password.invalid && Password.touched">
      <strong>Required</strong>
    </mat-error>
    <br />

    <input
      type="password"
      name="NewPassword"
      placeholder="New Password"
      formControlName="NewPassword"
    /><br />
    <mat-error
      *ngIf="NewPassword && NewPassword.invalid && NewPassword.touched"
    >
      <strong>Password Invalid</strong>
    </mat-error>
    <br /><br />
  </form>
  <div class="buttonClass">
    <button (click)="Close()">Close</button>
    <button
      [disabled]="ResetPasswordForm.invalid"
      (click)="ResetPassword()"
      type="submit">
      Reset
    </button>
  </div>
</div>
