<h1 mat-dialog-title class="titlehead">Add Account</h1>
<div mat-dialog-content style="max-height: 100vh;">

    <form [formGroup]="customerAddForm" >

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="accountName" name="accountName" >
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="accountName && accountName.invalid">
               Name <strong>Required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" name="email" >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email && email.invalid && email.touched">
                Please Enter valid email
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Manager</mat-label>
            <input type="text" matInput formControlName="manager" name="manager" >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="manager && manager.invalid && manager.touched">
                Please Enter valid text
            </mat-error>
        </mat-form-field>


        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option value="India">India</mat-option>
                        <mat-option value="USA">USA</mat-option>
                        <mat-option value="China">China</mat-option>
                        <mat-option value="United Kingdom">United Kingdom</mat-option>
                        <mat-option value="UAE">UAE</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Year Of Establishment</mat-label>
                    <input type="text" matInput formControlName="yearOfEst" name="yearOfEst" >
                    <mat-icon matSuffix>groups</mat-icon>
                    <mat-error *ngIf="yearOfEst && yearOfEst.invalid && yearOfEst.touched">
                        Please Enter valid year
                    </mat-error>
                </mat-form-field>        
            </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>No. of Employees</mat-label>
                    <input type="number" matInput formControlName="noOfEmp" name="noOfEmp" >
                    <mat-icon matSuffix>groups</mat-icon>
                    <mat-error *ngIf="noOfEmp && noOfEmp.invalid && noOfEmp.touched">
                        Please Enter valid Number
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Number Of Departments</mat-label>
                    <input type="number" matInput formControlName="noOfDept" name="noOfDept" >
                    <mat-icon matSuffix>Hours</mat-icon>
                    <mat-error *ngIf="noOfDept && noOfDept.invalid && noOfDept.touched">
                        Please Enter valid Number Of Departments
                    </mat-error>
                </mat-form-field>
            </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">
            <td>
                    <mat-form-field >
                        <mat-label>Phone</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" matInput placeholder="555-555-1234" name="phoneNo" formControlName="phoneNo" >
                        <mat-icon matSuffix>call</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Operating Hours</mat-label>
                    <input type="number" matInput formControlName="operatingHours" name="operatingHours" >
                    <mat-icon matSuffix>Hours</mat-icon>
                    <mat-error *ngIf="operatingHours && operatingHours.invalid && operatingHours.touched">
                        Please Enter valid operating hours
                    </mat-error>
                </mat-form-field>
            </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">

                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Revenue</mat-label>
                        <input type="text" matInput formControlName="Revenue" name="Revenue" >
                        <mat-icon matSuffix>location_on</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
                </td>
                <td>

                    <mat-form-field appearance="fill">
                        <mat-label>Expenses</mat-label>
                        <input type="text" matInput formControlName="Expenses" name="Expenses" >
                        <mat-icon matSuffix>tag</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
                </td>

                <td>

                    <mat-form-field appearance="fill">
                        <mat-label>Profit</mat-label>
                        <input type="text" matInput formControlName="Profit" name="Profit" >
                        <mat-icon matSuffix>tag</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field appearance="fill">
            <mat-label>Services Offered</mat-label>
            <textarea matInput formControlName="servicesOffered" name="servicesOffered" ></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error><strong>Required</strong></mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-action [align]="'end'" class="button-class">
        <button mat-raised-button color="warn" mat-dialog-close class="closebtn">Close</button>
        <button style="background-color: #00599C;" [disabled]="customerAddForm.invalid" mat-raised-button color="primary" type="submit" class="submitbtn"  (click)="addCustomer()">Add</button>
    </div>
</div>