<h1 mat-dialog-title class="titlehead">Add Account</h1>
<div mat-dialog-content style="max-height: 100vh;">

    <form [formGroup]="customerAddForm" >

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="cname" name="cname" >
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="cname && cname.invalid">
               Name <strong>Required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" name="email" >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email && email.invalid && email.touched">
                Please Enter valid email
            </mat-error>
        </mat-form-field>
        
        

        <mat-form-field appearance="fill">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="typeOfCompany">
                <mat-option value="India">India</mat-option>
                <mat-option value="USA">USA</mat-option>
                <mat-option value="China">China</mat-option>
                <mat-option value="United Kingdom">United Kingdom</mat-option>
                <mat-option value="UAE">UAE</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>No. of Employees</mat-label>
            <input type="noofemp" matInput formControlName="noofemp" name="noofemp" >
            <mat-icon matSuffix>groups</mat-icon>
            <mat-error *ngIf="noofemp && noofemp.invalid && noofemp.touched">
                Please Enter valid Number
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Operating Hours</mat-label>
            <input type="operatinghrs" matInput formControlName="operatinghrs" name="operatinghrs" >
            <mat-icon matSuffix>Hours</mat-icon>
            <mat-error *ngIf="operatinghrs && operatinghrs.invalid && operatinghrs.touched">
                Please Enter valid operating hours
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Logo</mat-label>
            <input type="text" matInput formControlName="logo" >
            <mat-icon matSuffix>link</mat-icon>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">
                
                <mat-form-field appearance="fill">
                    <mat-label>No. of Employees</mat-label>
                    <input type="noofemp" matInput formControlName="noofemp" name="noofemp" >
                    <mat-icon matSuffix>groups</mat-icon>
                    <mat-error *ngIf="noofemp && noofemp.invalid && noofemp.touched">
                        Please Enter valid Number
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Operating Hours</mat-label>
                    <input type="operatinghrs" matInput formControlName="operatinghrs" name="operatinghrs" >
                    <mat-icon matSuffix>Hours</mat-icon>
                    <mat-error *ngIf="operatinghrs && operatinghrs.invalid && operatinghrs.touched">
                        Please Enter valid operating hours
                    </mat-error>
                </mat-form-field>
            </tr>
        </table>

        <td>
            <mat-form-field >
                <mat-label>Phone</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" name="phoneNo" formControlName="phoneNo" >
                <mat-icon matSuffix>call</mat-icon>
                <mat-error><strong>Required</strong></mat-error>
            </mat-form-field>
        </td>

        <mat-form-field appearance="fill">
            <mat-label>Website</mat-label>
            <input type="text" matInput formControlName="website" name="website" >
            <mat-icon matSuffix>language</mat-icon>

        </mat-form-field>
        <table class="example-full-width" cellspacing="0">
            <tr class="table-row">

                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Headquarter</mat-label>
                        <input type="text" matInput formControlName="headquarter" name="headquarter" >
                        <mat-icon matSuffix>location_on</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
                </td>
                <td>

                    <mat-form-field appearance="fill">
                        <mat-label>Country Code</mat-label>
                        <input type="text" matInput formControlName="countryCode" name="countryCode" >
                        <mat-icon matSuffix>tag</mat-icon>
                        <mat-error><strong>Required</strong></mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" name="description" ></textarea>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error><strong>Required</strong></mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-action [align]="'end'" class="button-class">
        <button mat-raised-button color="warn" mat-dialog-close class="closebtn">Close</button>
        <button style="background-color: #00599C;" [disabled]="customerAddForm.invalid" mat-raised-button color="primary" type="submit" class="submitbtn"  (click)="addCustomer()">Add</button>
    </div>
</div>