<div class="container">
    <div class="left">

        <div class="logo">
            <img class="logoimg" src="../../assets/fastenal_logo.png" alt="fastenal_logo"><br>
            <a href="www.fastenal.com">About Us</a>
        </div>
        <div class="linkscontainer">
            <img src="../../assets/instagram.png" alt="instagram">
            <img src="../../assets/youtube.png" alt="youtube">
            <img src="../../assets/twitter.png" alt="twitter">
            <img src="../../assets/facebook.png" alt="facebook">
        </div>
    </div>
    <div class="right">
        <div class="logocontainer">
            <img src="../../assets/cdmlogo.png" alt="">
        </div>
        <div class="formcontainer">
            <h1>Register</h1>

            <p>Enter your details to register</p>

            <form>
                <label for="Name">Name</label><br>
                <input type="text" name="Name" placeholder="Name"><br>

                <label for="Id">Id</label><br>
                <input type="text" name="Id" placeholder="ID"><br>

                <label for="Id">Phone</label><br>
                <input type="number" name="Phone" placeholder="Phone"><br>

                <label for="Email">Email</label><br>
                <input type="text" name="Email" placeholder="Email"><br>

                <label for="Password">Password</label><br>
                <input type="password" name="Password" placeholder="Password"><br>

                <div class="tacbox">
                    <input class="taa" id="checkbox" type="checkbox" />
                    <label for="checkbox"> I agree to these <a href="#">Terms and Conditions</a>.</label>
                </div>
                <button routerLink="">Register</button>

            </form>
        </div>


    </div>
</div>